body {
  background-color: #ff6060;
}


h2 {
  text-align: center;
  
}

.todo-card {
  background-color: whitesmoke;
  
  min-height: 600px;
  margin-top: 12vh;
  border-radius: 15px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

h1{
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  font-family: 'Sansita Swashed', cursive;
  height: 55px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 15px 15px 0px 0px;
}

.inputForm{
  margin-left: 43px !important;
  margin-top: 14px !important;
  margin-right: 5px !important  ;
}

.input{
  width: 20vw;
  
}

.addButton{
  width: 60px;
  height: 60px;
  background-color: green;  
  color: white;
  border-radius: 50%;
}

.addButton:hover{
  background-color:#8fd3f4;
  color: black;
  transition: 0.5s ease;
  cursor: pointer;
}

.itemList{
  margin-top: 45px;
}

.singleItem{
  width: 85%;
  height: 45px;
  margin:auto auto 20px;
  border-radius: 40px 0px 40px 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.deleteButton {
  cursor: pointer;
  color: white;
  text-align: right;
}

.deleteButton:hover {
  color: red;
  transition: 0.5s ease;
}